Adafruit-Blinka==8.70.0
Adafruit-Blinka-Raspberry-Pi5-Neopixel==1.0.0rc2
adafruit-circuitpython-ads1x15==3.0.2
adafruit-circuitpython-busdevice==5.2.15
adafruit-circuitpython-connectionmanager==3.1.6
adafruit-circuitpython-dht==4.0.10
adafruit-circuitpython-requests==4.1.15
adafruit-circuitpython-typing==1.12.3
Adafruit-PlatformDetect==3.88.0
Adafruit-PureIO==1.1.11
anyio==4.12.1
bidict==0.23.1
binho-host-adapter==0.1.6
blinker==1.9.0
cbor2==5.8.0
certifi==2026.2.25
charset-normalizer==3.4.5
click==8.3.1
docker==7.1.0
Flask==3.1.3
Flask-SocketIO==5.6.1
gevent==25.9.1
gevent-websocket==0.10.1
greenlet==3.3.2
h11==0.16.0
httpcore==1.0.9
httpx==0.25.2
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
luma==2.3.20
luma.core==2.5.3
luma.lcd==2.13.0
luma.oled==3.15.0
MarkupSafe==3.0.3
pillow==12.1.1
psutil==7.2.2
pycparser==2.21
pyftdi==0.57.1
pyparsing==3.0.9
pyserial==3.5
python-dateutil==2.8.0
python-engineio==4.13.1
python-socketio==5.16.1
python-telegram-bot==20.7
pyusb==1.3.1
requests==2.32.5
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
schedule==1.2.2
simple-websocket==1.1.0
six==1.17.0
smbus2==0.6.0
sniffio==1.3.1
sysv_ipc==1.2.0
typing_extensions==4.15.0
urllib3==2.6.3
Werkzeug==3.1.6
wsproto==1.3.2
zope.event==6.1
zope.interface==8.2
